@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background color of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f0f0f0; /* Creates space around the thumb */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color on hover */
}
/* Firefox-specific scrollbar customization */
* {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: #888 #f0f0f0; /* Thumb and track colors */
}
